<div class="combobox-container"
     [class.combobox-disabled]="disabled"
     [class.combobox-selected]="!!selectedItem">
  <div class="input-group">
    <input type="text"
           autocomplete="false"
           [placeholder]="placeholder"
           class="combobox form-control"
           [disabled]="disabled"
           [value]="selectedItem ? selectedItem.label : search"
           (input)="onSearchChange($event.target.value)"
           (keydown.arrowup)="onArrowUp($event)"
           (keydown.arrowdown)="onArrowDown($event)"
           (keyup.enter)="onEnterDown($event)"
           (keyup.escape)="closePanel($event)">
    <ul class="typeahead typeahead-long dropdown-menu"
        [style.display]="isOpen && filteredItems.length > 0 ? 'block' : 'none'"
        #panel>
      <li *ngFor="let item of filteredItems; let i = index"
          [class.active]="activeElementIndex === i"
          (mouseover)="setActiveIndex(i)">
        <a (click)="selectItem(item)">
          <ng-container *ngFor="let letter of item.label.split('')">
            <strong *ngIf="lowercaseSearch.includes(letter.toLowerCase()) else notIncluded">{{letter}}</strong>
            <ng-template #notIncluded>{{letter}}</ng-template>
          </ng-container>
        </a>
      </li>
    </ul>
    <span class="input-group-addon dropdown-toggle"
          (click)="selectedItem ? cancelSelection($event) : togglePanel($event)">
      <span class="caret"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </span>
  </div>
</div>
